@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    1701 Broadway<br />
    Seattle, WA 98122<br />
    Phone: 206.934.3800
</address>

<address>
    <strong>Contact Benjamin:</strong> <a href="mailto:bbeal003@seattlecentral.edu">bbeal003@seattlecentral.edu</a><br />
</address>